# taxel-py
taxel-py/src/ebilanz

# Rust
/target

# Python
__pycache__
.mypy_cache
**/.venv
**/poetry.lock

# Eric
eric
eric.log
validation_response.xml
server_response.xml
*.pdf
test_data/schema/ebilanz
test_data/schema/elster

# csv
.~lock.**.csv#

# ods
.~lock.**.ods#

# Temp
tmp

# Output
output

# Environment
**/.env

# Keys
**/*.jks
**/*.p8
**/*.pem
**/*.pfx

# VS Code
.vscode
