# taxel-py
taxel-py/ebilanz

# Rust
/target
Cargo.lock

# Python
__pycache__
.mypy_cache
**/.venv

# Eric
ERiC-*
eric.log
validation_response.xml
server_response.xml
*.pdf

# csv
.~lock.**.csv#

# ods
.~lock.**.ods#

# Output
output

# Test data
test_data

# Environment
**/.env

# Keys
**/*.jks
**/*.p8
**/*.pem
**/*.pfx

# VS Code
.vscode
