# taxel-py
taxel-py/src/ebilanz

# Rust
/target
Cargo.lock

# Python
__pycache__
.mypy_cache
**/.venv
**/poetry.lock

# Eric
eric
eric.log
validation_response.xml
server_response.xml
*.pdf

# schema
schema/*

# test data
test_data/ebilanz/schema/ebilanz_000002.xsd
test_data/ebilanz/schema/ebilanz_elster_000001.xsd
test_data/ebilanz/schema/elster11_bisNH_extern.xsd
test_data/ebilanz/schema/headerbasis_datenarten.xsd
test_data/ebilanz/schema/headerbasis_datentypen.xsd
test_data/ebilanz/schema/headerbasis_verfahren.xsd
test_data/ebilanz/schema/headerbasis000003.xsd
test_data/ebilanz/schema/headerelemente.xsd
test_data/ebilanz/schema/ndh000011.xsd
test_data/ebilanz/schema/th000011_extern.xsd

# csv
.~lock.**.csv#

# ods
.~lock.**.ods#

# Output
output

# Environment
**/.env

# Keys
**/*.jks
**/*.p8
**/*.pem
**/*.pfx

# VS Code
.vscode
