[package]
name = "taxel-xbrl"
version = "0.1.0"
authors.workspace = true
edition.workspace = true

[dependencies]
anyhow = { workspace = true }
log = { workspace = true }
quick-xml = { workspace = true }
